#################
## Project
#################

*.qgs
*.qgs~
*.bat


#################
## Eclipse
#################

build_runnable.xml
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/


#############
## Python
#############

*.py[co]
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg