#################
## Project
#################

*.qgs
*.qgs~
*.bat
*.db
test
data/
log/*.*
templates/profile.png


#################
## Eclipse
#################

build_runnable.xml
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/


#############
## Python
#############

*.py[co]
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
i18n/lrelease.exe
.idea/giswater.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/

