#################
## Project
#################

*.qgs
*.qgs~
*.bat
*.db
test
data/

#################
## Eclipse
#################

build_runnable.xml
*.pydevproject
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/


#############
## Python
#############

*.py[co]
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
i18n/lrelease.exe
ui/ws_man_node_.ui
ui/ud_section.png
ui/ws_section.png
dao/controller.py
