[status]
scale_zoom = 2500 

[layers]
STREET_LAYER=ext_streetaxis
STREET_FIELD_CODE=id
STREET_FIELD_NAME=name

PORTAL_LAYER=v_edit_connec
PORTAL_FIELD_CODE=adress_01
PORTAL_FIELD_NUMBER=postnumber

PPOINT_LAYER=point
PPOINT_FIELD_ZONE=observ
PPOINT_FIELD_NUMBER=text

HYDROMETER_LAYER=v_rtc_hydrometer
HYDROMETER_LAYER_TO=connec
HYDROMETER_FIELD=client_name
HYDROMETER_FIELD_TO=connec_id

URBAN_LAYER=ext_urban_propierties
URBAN_FIELD_BLOCK=square
URBAN_FIELD_NUMBER=postnumber

QML_PORTAL=portal.qml
