[general_dev]
folder_path="C:/Users/Usuari/.qgis2/python/plugins/giswater/templates/qgisproject/en"

[text_replace]
labels=ProjectCRSProj4String,ProjectCrs,ProjectionsEnabled,dbname,host,port,user,password,table,srid

#for project (last lines)
ProjectCRSProj4String="<ProjectCRSProj4String type="QString">+proj=utm +zone=31 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs</ProjectCRSProj4String>", "<ProjectCRSProj4String type="QString">__PROJ4__</ProjectCRSProj4String>"
ProjectCrs="<ProjectCrs type="QString">EPSG:25831</ProjectCrs>", "<ProjectCrs type="QString">__AUTHID__</ProjectCrs>"
ProjectionsEnabled="<ProjectionsEnabled type="int">1</ProjectionsEnabled>", "<ProjectionsEnabled type="int">1</ProjectionsEnabled>"

#for each geo layer
dbname="dbname='giswater3'", "dbname='__DBNAME__'"
host="host=localhost", "host=__HOST__"
port="port=5432", "port=__PORT__"
user="user='abcd'", "user='__USER__'"
password="password='1234'", "password='__PASSWORD__'"
table="table=&quot;ud_sample&quot;", table=&quot;__SCHEMA_NAME__&quot;

#for each layer
srid="srid=25831", "srid=__SRID__"


[xml_set]
labels=xmin,ymin,xmax,ymax,proj4,srsid,srid,authid,description,projectionacronym,ellipsoidacronym,geographicflag
#for project (canvas extent). Only done for 1st found
xmin="mapcanvas/extent/xmin", "__XMIN__"
ymin="mapcanvas/extent/ymin", "__YMIN__"
xmax="mapcanvas/extent/xmax", "__XMAX__"
ymax="mapcanvas/extent/ymax", "__YMAX__"

#for each geo layer, in except of first found (in order to don't replace done before)
extent='projectlayers/maplayer/extent', ""

#for each layer
proj4="projectlayers/maplayer/srs/spatialrefsys/proj4", "__PROJ4__"
srsid="projectlayers/maplayer/srs/spatialrefsys/srsid", "__SRSID__"
srid="projectlayers/maplayer/srs/spatialrefsys/srid", "__SRID__"
authid="projectlayers/maplayer/srs/spatialrefsys/authid", "__AUTHID__"
description="projectlayers/maplayer/srs/spatialrefsys/description", "__DESCRIPTION__"
projectionacronym="projectlayers/maplayer/srs/spatialrefsys/projectionacronym", "__PROJECTIONACRONYM__"
ellipsoidacronym="projectlayers/maplayer/srs/spatialrefsys/ellipsoidacronym", "__ELLIPSOIDACRONYM__"
geographicflag="projectlayers/maplayer/srs/spatialrefsys/geographicflag", "__GEOGRAPHICFLAG__"