[general_dev]
folder_path="C:/Users/user/AppData/Roaming/QGIS/QGIS3/profiles/default/python/plugins/giswater/templates/qgisproject/en"

[text_replace]
#on this line labels are specified as 'key' must be founded below on this file
labels=ProjectCRSProj4String,ProjectCrs,ProjectionsEnabled,dbname,host,port,user,password,srid,schema,p1, p2, p3, p4, p5, p6, p7, p8

#for project (last lines)
ProjectCRSProj4String="<ProjectCRSProj4String type="QString">+proj=utm +zone=31 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs</ProjectCRSProj4String>", "<ProjectCRSProj4String type="QString">__PROJ4__</ProjectCRSProj4String>"
ProjectCrs="<ProjectCrs type="QString">EPSG:25831</ProjectCrs>", "<ProjectCrs type="QString">__AUTHID__</ProjectCrs>"
ProjectionsEnabled="<ProjectionsEnabled type="int">1</ProjectionsEnabled>", "<ProjectionsEnabled type="int">1</ProjectionsEnabled>"

#for each layer
dbname="dbname='giswater32'", "dbname='__DBNAME__'"
host="host=localhost", "host=__HOST__"
port="port=5432", "port=__PORT__"
user="user='username'", ""
password="password='1234'", ""
schema="ws_sample", "SCHEMA_NAME";
p1="<proj4>+proj=utm +zone=31 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs</proj4>", "<proj4>__PROJ4__</proj4>"
p2="<srsid>2104</srsid>","<srsid>__SRSID__</srsid>"
p3="<srid>25831</srid>","<srid>__SRID__</srid>"
p4="<authid>EPSG:25831</authid>","<authid>__AUTHID__</authid>"
p5="<description>ETRS89 / UTM zone 31N</description>","<description>__DESCRIPTION__</description>"
p6="<projectionacronym>utm</projectionacronym>","<projectionacronym>__PROJECTIONACRONYM__</projectionacronym>"
p7="<ellipsoidacronym>GRS80</ellipsoidacronym>","<ellipsoidacronym>__ELLIPSOIDACRONYM__</ellipsoidacronym>"
p8="<geographicflag>false</geographicflag>","<geographicflag>__GEOGRAPHICFLAG__</geographicflag>"


#for each geo layer
srid="srid=25831", "srid=__SRID__"

#for each geo layer, in except of first found (in order to don't replace done before)
extent='projectlayers/maplayer/extent', ""

#for each layer
proj4="projectlayers/maplayer/srs/spatialrefsys/proj4", "__PROJ4__"
srsid="projectlayers/maplayer/srs/spatialrefsys/srsid", "__SRSID__"
srid="projectlayers/maplayer/srs/spatialrefsys/srid", "__SRID__"
authid="projectlayers/maplayer/srs/spatialrefsys/authid", "__AUTHID__"
description="projectlayers/maplayer/srs/spatialrefsys/description", "__DESCRIPTION__"
projectionacronym="projectlayers/maplayer/srs/spatialrefsys/projectionacronym", "__PROJECTIONACRONYM__"
ellipsoidacronym="projectlayers/maplayer/srs/spatialrefsys/ellipsoidacronym", "__ELLIPSOIDACRONYM__"
geographicflag="projectlayers/maplayer/srs/spatialrefsys/geographicflag", "__GEOGRAPHICFLAG__"


[xml_set] -- not used (now)
#labels=xmin,ymin,xmax,ymax,proj4,srsid,srid,authid,description,projectionacronym,ellipsoidacronym,geographicflag
#for project (canvas extent). Only done for 1st found  
xmin="mapcanvas/extent/xmin", "__XMIN__"
ymin="mapcanvas/extent/ymin", "__YMIN__"
xmax="mapcanvas/extent/xmax", "__XMAX__"
ymax="mapcanvas/extent/ymax", "__YMAX__"

