[system]
dev_commit=False #allow user to execute all the files even if one fails
folder_path="C:\Users\Usuari\AppData\Roaming\QGIS\QGIS3\profiles\default\python\plugins\giswater\resources\templates\qgisproject\en_US"


[qgis_project_text_replace]
labels=ProjectCRSProj4String,ProjectCrs,ProjectionsEnabled,dbname,host,port,user,password,schemaws,schemaud,p1, p2, p3, p4, p5, p6, p7, p8, srid1, sslmode

ProjectCRSProj4String="<ProjectCRSProj4String type="QString">+proj=utm +zone=31 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs</ProjectCRSProj4String>", "<ProjectCRSProj4String type="QString">__PROJ4__</ProjectCRSProj4String>"
ProjectCrs="<ProjectCrs type="QString">EPSG:25831</ProjectCrs>", "<ProjectCrs type="QString">__AUTHID__</ProjectCrs>"
ProjectionsEnabled="<ProjectionsEnabled type="int">1</ProjectionsEnabled>", "<ProjectionsEnabled type="int">1</ProjectionsEnabled>"

dbname="dbname='giswater3'", "dbname='__DBNAME__'"
host="host=localhost", "host=__HOST__"
port="port=5432", "port=__PORT__"
user="user='postgres'", ""
password="password='postgres'", ""
schemaws="ws_sample","SCHEMA_NAME"
schemaud="ud_sample","SCHEMA_NAME"
p1="<proj4>+proj=utm +zone=31 +ellps=GRS80 +towgs84=0,0,0,0,0,0,0 +units=m +no_defs</proj4>", "<proj4>__PROJ4__</proj4>"
p2="<srsid>2104</srsid>","<srsid>__SRSID__</srsid>"
p3="<srid>25831</srid>","<srid>__SRID__</srid>"
p4="<authid>EPSG:25831</authid>","<authid>__AUTHID__</authid>"
p5="<description>ETRS89 / UTM zone 31N</description>","<description>__DESCRIPTION__</description>"
p6="<projectionacronym>utm</projectionacronym>","<projectionacronym>__PROJECTIONACRONYM__</projectionacronym>"
p7="<ellipsoidacronym>GRS80</ellipsoidacronym>","<ellipsoidacronym>__ELLIPSOIDACRONYM__</ellipsoidacronym>"
p8="<geographicflag>false</geographicflag>","<geographicflag>__GEOGRAPHICFLAG__</geographicflag>"
srid1="srid=25831", "srid=__SRID__"
sslmode="sslmode=disable", "sslmode=__SSLMODE__"


extent='projectlayers/maplayer/extent', ""

proj4="projectlayers/maplayer/srs/spatialrefsys/proj4", "__PROJ4__"
srsid="projectlayers/maplayer/srs/spatialrefsys/srsid", "__SRSID__"
srid2="projectlayers/maplayer/srs/spatialrefsys/srid", "__SRID__"
authid="projectlayers/maplayer/srs/spatialrefsys/authid", "__AUTHID__"
description="projectlayers/maplayer/srs/spatialrefsys/description", "__DESCRIPTION__"
projectionacronym="projectlayers/maplayer/srs/spatialrefsys/projectionacronym", "__PROJECTIONACRONYM__"
ellipsoidacronym="projectlayers/maplayer/srs/spatialrefsys/ellipsoidacronym", "__ELLIPSOIDACRONYM__"
geographicflag="projectlayers/maplayer/srs/spatialrefsys/geographicflag", "__GEOGRAPHICFLAG__"

[qgis_project_xml_set]
labels=xmin,ymin,xmax,ymax
xmin="<xmin>(.*?)</xmin>", "<xmin>__XMIN__</xmin>"
ymin="<ymin>(.*?)</ymin>", "<ymin>__YMIN__</ymin>"
xmax="<xmax>(.*?)</xmax>", "<xmax>__XMAX__</xmax>"
ymax="<ymax>(.*?)</ymax>", "<ymax>__YMAX__</ymax>"