[files]
java_exe=C:\\Program Files\\Java\\jre1.8.0_66\\bin\\java.exe
gsw_file=
csv_file=

[status]
toolbar_ud_enabled=1
toolbar_ws_enabled=1
toolbar_mg_enabled=1
toolbar_ed_enabled=1
show_help=0
load_custom_forms=1

[db]
connection_name=giswater
table_arc=v_edit_arc
table_node=v_edit_node
table_connec=v_edit_connec
table_gully=v_edit_gully
table_man_arc=v_edit_man_arc
table_man_node=v_edit_man_node
table_man_connec=v_edit_man_connec
table_man_gully=v_edit_man_gully
table_version=version
table_wjoin=v_edit_man_wjoin
table_page=v_edit_man_page
table_greentap=v_edit_man_greentap
table_fountain=v_edit_man_fountain
table_tank=v_edit_man_tank
table_pump=v_edit_man_pump
table_source=v_edit_man_source
table_meter=v_edit_man_meter
table_junction=v_edit_man_junction
table_waterwell=v_edit_man_waterwell
table_reduction=v_edit_man_reduction
table_hydrant=v_edit_man_hydrant
table_valve=v_edit_man_valve
table_manhole=v_edit_man_manhole
table_version=version

[actions]
01_function=ud_junction
02_function=ud_outfall
04_function=ud_storage
05_function=ud_conduit
10_function=ws_junction
11_function=ws_hydrant
12_function=ws_tank
13_function=ws_pipe
14_function=ws_pump
15_function=ws_valve
08_function=ws_filter
29_function=ws_measure_instrument
16_function=mg_move_node
17_function=mg_delete_node
18_function=mg_extract_raster_value
19_function=mg_arc_topo_repair
20_function=mg_connec_tool
21_function=mg_table_wizard
23_function=mg_go2epa
24_function=mg_go2epa_express
25_function=mg_result_selector
26_function=mg_mincut
27_function=mg_analytics
56_function=mg_flow_trace
57_function=mg_flow_exit
99_function=mg_config
32_function=ed_search_plus
33_function=ed_add_element
34_function=ed_add_file
36_function=ed_giswater_jar

[actions_not_visibles]
03_function=ud_virtual_arc
30_function=ed_select_plan
31_function=ed_refresh
35_function=ed_event
22_function=mg_undo_wizard
28_function=mg_change_elem_type

[layers]
buttons_arc=05, 13
buttons_node=01, 02, 04, 08, 10, 11, 12, 14, 15, 16, 17, 26, 28, 29
buttons_connec=20

[insert_values]
01_elem_type_type=JUNCTION
02_elem_type_type=OUTFALL
04_elem_type_type=STORAGE
05_elem_type_type=CONDUIT
10_elem_type_type=JUNCTION
11_elem_type_type=HYDRANT
12_elem_type_type=TANK
13_elem_type_type=PIPE
14_elem_type_type=PUMP
15_elem_type_type=VALVE
08_elem_type_type=FILTER
29_elem_type_type=MEASURE INSTRUMENT
