[status]
show_help=0

[db]
table_arc=v_edit_arc
table_node=v_edit_node
table_connec=v_edit_connec
table_gully=v_edit_gully
table_pgully=v_edit_pgully
table_version=version
table_man_arc=v_edit_man_arc
table_man_node=v_edit_man_node
table_man_connec=v_edit_man_connec
table_man_gully=v_edit_man_gully

[actions]
; basic
32_function=basic_search_plus
41_function=basic_exploitation_selector
48_function=basic_state_selector

; om_ws
26_function=mg_mincut
27_function=mg_mincut_management
64_function=om_add_visit
65_function=om_visit_management

; om_ud
43_function=map_tool_draw_profiles
56_function=map_tool_flow_trace
57_function=map_tool_flow_exit
64_function=om_add_visit
65_function=om_visit_management

; edit
01_function=edit_add_node
02_function=edit_add_arc
16_function=map_tool_move_node
17_function=map_tool_delete_node
19_function=edit_arc_topo_repair
20_function=map_tool_connec_tool
28_function=map_tool_change_node_type
33_function=edit_add_element
34_function=edit_add_file
39_function=map_tool_dimensioning
44_function=map_tool_replace_node
61_function=edit_workcat
66_function=edit_document
67_function=edit_element
68_function=edit_end_feature
98_function=edit_config_edit

; cad
71_function=cad_add_circle
72_function=cad_add_point

; epa
23_function=go2epa
24_function=go2epa_express
25_function=go2epa_result_selector
36_function=go2epa_giswater_jar

; master
38_function=master_estimate_result_new
45_function=master_new_psector
46_function=master_psector_mangement
47_function=master_psector_selector
49_function=master_estimate_result_selector
99_function=master_config_master

