[status]
toolbar_basic_enabled=1
toolbar_om_ws_enabled=1
toolbar_om_ud_enabled=1
toolbar_edit_enabled=1
toolbar_epa_enabled=1
toolbar_master_enabled=1
show_help=0
load_custom_forms=1

[db]
connection_name=giswater
table_arc=v_edit_arc
table_node=v_edit_node
table_connec=v_edit_connec
table_gully=v_edit_gully
table_pgully=v_edit_pgully
table_version=version
table_man_arc=v_edit_man_arc
table_man_node=v_edit_man_node
table_man_connec=v_edit_man_connec
table_man_gully=v_edit_man_gully
table_wjoin=v_edit_man_wjoin
table_page=v_edit_man_page
table_greentap=v_edit_man_greentap
table_fountain=v_edit_man_fountain
table_tank=v_edit_man_tank
table_pump=v_edit_man_pump
table_source=v_edit_man_source
table_meter=v_edit_man_meter
table_junction=v_edit_man_junction
table_waterwell=v_edit_man_waterwell
table_reduction=v_edit_man_reduction
table_hydrant=v_edit_man_hydrant
table_valve=v_edit_man_valve
table_manhole=v_edit_man_manhole
table_register=v_edit_man_register
table_netwjoin=v_edit_man_netwjoin
table_expansiontank=v_edit_man_expansiontank
table_flexunion=v_edit_man_flexunion
table_pipe=v_edit_man_pipe
table_varc=v_edit_man_varc

[actions]
01_function=mg_add_node
02_function=mg_add_arc
04_function=ud_storage
05_function=ud_conduit
10_function=ws_junction
11_function=ws_hydrant
12_function=ws_tank
13_function=ws_pipe
14_function=ws_pump
15_function=ws_valve
08_function=ws_filter
29_function=ws_measure_instrument
16_function=mg_move_node
17_function=mg_delete_node
18_function=mg_extract_raster_value
19_function=mg_arc_topo_repair
20_function=mg_connec_tool
23_function=mg_go2epa
24_function=mg_go2epa_express
25_function=mg_result_selector
26_function=mg_mincut
27_function=mg_mincut_edit
28_function=mg_change_elem_type
41_function=basic_exploitation_selector
56_function=mg_flow_trace
57_function=mg_flow_exit
32_function=ed_search_plus
33_function=ed_add_element
34_function=ed_add_file
36_function=ed_giswater_jar
43_function=mg_draw_profiles
52_function=ed_flow_regulator
39_function=mg_dimensions
45_function=mg_new_psector
46_function=mg_psector_mangement
47_function=mg_psector_selector
48_function=mg_state_selector
98_function=mg_config_edit
99_function=mg_config_master
44_function=mg_replace_node

[actions_not_visibles]
03_function=ud_virtual_arc
30_function=ed_select_plan
31_function=ed_refresh
35_function=ed_event
22_function=mg_undo_wizard
28_function=mg_change_elem_type

[layers]
buttons_arc=05, 13
buttons_node=01, 02, 04, 08, 10, 11, 12, 14, 15, 16, 17, 26, 28, 29, 52
buttons_connec=20

[insert_values]
01_elem_type_type=JUNCTION
02_elem_type_type=OUTFALL
04_elem_type_type=STORAGE
05_elem_type_type=CONDUIT
10_elem_type_type=JUNCTION
11_elem_type_type=HYDRANT
12_elem_type_type=TANK
13_elem_type_type=PIPE
14_elem_type_type=PUMP
15_elem_type_type=VALVE
08_elem_type_type=FILTER
29_elem_type_type=MEASURE INSTRUMENT

[layer_node_man_UD]
1\layer_node_man_UD=@Variant(\0\0\0\x88)
2\layer_node_man_UD=@Variant(\0\0\0\x88)
3\layer_node_man_UD=@Variant(\0\0\0\x88)
4\layer_node_man_UD=@Variant(\0\0\0\x88)
5\layer_node_man_UD=@Variant(\0\0\0\x88)
6\layer_node_man_UD=@Variant(\0\0\0\x88)
7\layer_node_man_UD=@Variant(\0\0\0\x88)
8\layer_node_man_UD=@Variant(\0\0\0\x88)
9\layer_node_man_UD=@Variant(\0\0\0\x88)
10\layer_node_man_UD=@Variant(\0\0\0\x88)
size=10
