[system]
project_types_dev = ws,ud,tm,pl 	;additional project type if devoloper_mode is true
project_types = ws,ud
enable_python_console = FALSE		;Don't show the python console
;user who can see all toolbars, but not only this. user has all roles (basic.... admin)
super_users = postgres, giswater, gisadmin
use_notify = TRUE              ; Use postgres notify
show_help = 0
locale = en_EN, es_ES, ca_ES, pt_BR, pt_PT, fr_FR

[toolbars]
list_toolbars = basic, om, edit, cad, epa, plan, utilities, toc
basic = 37, 142, 143
om = 26, 27, 56, 57, 43, 64, 65, 84
edit = 01, 02, 44, 16, 17, 28, 20, 68, 69, 39, 34, 66, 33, 67
cad = 71, 72
epa = 23, 25, 29
plan = 45, 46, 50
utilities = 206, 99, 83, 58, 59
toc = 306
my_toolbar = None

[project_exclusive]
ws = 56, 57
ud = 26, 27

[buttons_def]
; basic
143 = GwSearchButton
37 = GwInfoButton
142 = GwSelectorButton
; om
26 = GwMincutButton
27 = GwMincutManagerButton
56 = GwFlowTraceButton
57 = GwFlowExitButton
43 = GwProfileButton
64 = GwVisitButton
65 = GwVisitManagerButton
84 = GwDateSelectorButton
; edit
01 = GwPointAddButton
02 = GwArcAddButton
44 = GwFeatureReplaceButton
16 = GwArcDivideButton
17 = GwArcFusionButton
28 = GwNodeTypeChangeButton
20 = GwConnectLinkButton
68 = GwFeatureEndButton
69 = GwFeatureDeleteButton
39 = GwDimensioningButton
34 = GwDocumentButton
66 = GwDocumentManagerButton
33 = GwElementButton
67 = GwElementManagerButton
; cad
71 = GwAuxCircleAddButton
72 = GwAuxPointAddButton
; epa
23 = GwGo2EpaButton
25 = GwGo2EpaManagerButton
29 = GwGo2EpaSelectorButton
; plan
45 = GwPsectorButton
46 = GwPsectorManagerButton
50 = GwPriceManagerButton
; utilities
206 = GwToolBoxButton
99 = GwConfigButton
83 = GwCSVButton
58 = GwPrintButton
59 = GwProjectCheckButton
; toc
306 = GwAddChildLayerButton

[menu]
load = true

[web_tag]
; objectname_subtag = web tag
; basic
dlg_info_feature = info-feature
dlg_selector = state-selector
dlg_search_workcat = searcher
; om
dlg_mincut = minimum-cut-polygon
dlg_mincut_connec = minimum-cut-polygon
dlg_mincut_hydrometer = minimum-cut-polygon
dlg_mincut_end = minimum-cut-polygon
dlg_mincut_manager = mincut-manager
dlg_profile = longitudinal-profile
dlg_profile_list = longitudinal-profile
dlg_visit_add = add-multiple-visit
dlg_visit_manager = visit-manager
dlg_selector_date = date-selector
; edition
dlg_info_feature_node = insert-node
dlg_info_feature_arc = insert-arc
dlg_info_crossect = edition
dlg_feature_replace = replace-node
dlg_dialog_text_arc_divide = divide-arc
dlg_arc_fusion = arc-fusion
dlg_nodetype_change = change-node-type
dlg_dialog_text_connect_to_network = connect-to-network
dlg_feature_end = end-feature
dlg_info_workcat = edition
dlg_feature_delete = delete-element
dlg_dimensioning = dimensioning
dlg_doc = add-document
dlg_doc_manager = document-manager
dlg_element = add-element
dlg_element_manager = element-manager
; cad
dlg_auxcircle = create-a-circle
dlg_auxpoint = add-point-using-relative-coordinates
; epa
dlg_go2epa = go-2-epa
dlg_multirow_selector_dscenario = go-2-epa
dlg_hydrology_selector = go-2-epa
dlg_go2epa_options = go-2-epa
dlg_go2epa_manager = epa-result-manager
dlg_selector_go2epa = epa-result-selector
; master
dlg_plan_psector = new-psector
;dlg_psector_rapport = None
dlg_psector_manager = psector-manager
;dlg_psector_duplicate = None
dlg_price_manager = network-cost-manager
plan_estimate_result_new = new-network-cost
price_result_selector = estimate-result-selector
;utils
dialog_toolbox = topo-tools
dlg_config = config
dlg_csv2pg = import-csv
dlg_fastprint = fast-print
dlg_project_check = check-project

