[system]
project_types_dev = ws,ud,tm,pl 	;additional project type if devoloper_mode is true
project_types = ws,ud
enable_python_console = FALSE		;Don't show the python console
super_users = postgres, giswater, gisadmin ;user who can see all toolbars, but not only this. User has all roles (basic.... admin)
use_notify = TRUE              ; Use postgres notify
show_help = 0

[toolbars]
list_toolbars = basic, om, edit, cad, epa, plan, utilities, toc
basic = 37, 142, 143
om = 26, 27, 56, 57, 43, 64, 65, 84
edit = 01, 02, 44, 16, 17, 28, 20, 68, 69, 39, 34, 66, 33, 67
cad = 71, 72
epa = 23, 25, 29
plan = 45, 46, 50
utilities = 206, 99, 83, 58, 59
toc = 306
my_toolbar = None

[project_exclusive]
ws = 56, 57
ud = 26, 27

[buttons_def]
; basic
143 = GwSearchButton
37 = GwInfoButton
142 = GwSelectorButton
; om
26 = GwMincutButton
27 = GwMincutManagerButton
56 = GwFlowTraceButton
57 = GwFlowExitButton
43 = GwProfileButton
64 = GwAddVisitButton
65 = GwManageVisitButton
84 = GwDateSelectorButton
; edit
01 = GwAddPointButton
02 = GwAddLineButton
44 = GwFeatureReplaceButton
16 = GwArcDivideButton
17 = GwArcFusionButton
28 = GwNodeTypeChangeButton
20 = GwConnectLinkButton
68 = GwEndFeatureButton
69 = GwDeleteFeatureButton
39 = GwDimensioningButton
34 = GwAddDocumentButton
66 = GwEditDocumentButton
33 = GwAddElementButton
67 = GwEditElementButton
; cad
71 = GwAuxCircleButton
72 = GwAuxPointButton
; epa
23 = GwGo2EpaButton
25 = GwGo2EpaManagerButton
29 = GwGo2EpaSelectorButton
; plan
45 = GwPsectorButton
46 = GwPsectorManagerButton
50 = GwPriceManagerButton
; utilities
206 = GwToolBoxButton
99 = GwConfigButton
83 = GwCSVButton
58 = GwPrintButton
59 = GwProjectCheckButton
; toc
306 = GwAddChildLayerButton

[web_tag]
; objectname_subtag = web tag
; basic
multirow_selector_exploitation = exploitation-selector
multirow_selector_state = state-selector
multirow_selector_hydrometer = hydrometers-state-selector
workcat_search = searcher
; om
mincut = minimum-cut-polygon
mincut_add_connec = minimum-cut-polygon
mincut_edit = mincut-manager
draw_profile = longitudinal-profile
load_profiles = longitudinal-profile
add_visit_info = visit-information
add_visit_add = add-multiple-visit
visit_management = visit-manager
date_selector = date-selector
; edition
api_cf = edition
api_cf_node = insert-node
api_cf_arc = insert-arc
api_catalog = edition
hydro_info = edition
section = edition
feature_replace = replace-node
arc_fusion = arc-fusion
change_node_type = change-node-type
workcat_end = end-feature
api_dimensioning = dimensioning
add_doc = add-document
document_management = document-manager
add_element = add-element
element_management = element-manager
; cad
cad_add_circle = create-a-circle
cad_add_point = add-point-using-relative-coordinates
; epa
multirow_selector_dscenario = go-2-epa
go2epa = go-2-epa
api_epa_options = go2epa
epa_result_management = epa-result-manager
result_compare_selector = epa-result-selector
; master
plan_psector = new-psector
psector_management = psector-manager
multirow_selector_psector = psector-selector
plan_estimate_result_new = new-network-cost
price_result_selector = estimate-result-selector
plan_estimate_result_manager = network-cost-manager
;utils
api_config = config
csv2pg = import-csv
api_composers = fast-print

