[web_tag]
; objectname_subtag = web tag
multirow_selector_exploitation = exploitation-selector
multirow_selector_state = state-selector
workcat_search = searcher
multirow_selector_hydrometer = hydrometer-state-selector
mincut = minimum-cut-polygon
mincut_add_connec = minimum-cut-polygon
mincut_edit = mincut-manager
draw_profiles = longitudinal-profile
load_profiles = longitudinal-profile
add_visit_info = visit-information
add_visit_add = add-multiple-visit
visit_management = visit-manager
date_selector = date-selector
api_cf = edition
api_catalog = edition
hydro_info = edition
section = edition
feature_replace = replace-node
arc_fusion = arc-fusion
change_node_type = change-node-type
add_doc = add-document
document_management = document-manager
add_element = add-element
element-management = element-manager
workcat_end = end-feature
cad_add_circle = create-a-circle
cad_add_point = add-point
go2epa = go2epa
multirow_selector_dscenario = go2epa
api_epa_options = go2epa
epa_result_management = epa-result-manager
result_compare_selector = epa-result-selector
plan_psector = new-psector
psector_management = psector-manager
multirow_selector_psector = psector-selector
plan_estimate_result_new = new-network-cost
price_result_selector = estimate-result-selector
plan_estimate_result_manager = network-cost-manager
api_config = config
csv2pg = import-csv
api_composers = fast-print

[toolbars_position]
pos_0 = basic,0,122
pos_1 = om_ud,0,0
pos_2 = utils,169,122
pos_3 = edit,307,122
pos_4 = epa,779,122
pos_5 = master,917,122
pos_6 = cad,1117,122
pos_7 = om_ws,1193,122

