[web_tag]
; objectName_subtag				=	web tag

list_items_exploitation			=	exploitation-selector
list_items_selector				=	state-selector
list_items_hydrometer_state		=	hydrometer-state-selector
mincut							=	mincut-polygon
document_management_mincut		=	mincut-manager
add_visit_visit					=	add-multiple-visit
visit_management				=	visit-manager
date_selector					=	date-selector
feature_replace					=	replace-node
arc_fusion						=	arc-fusion
change_node_type				=	change-node-type
add_visit_document				=	add-document
document_management_document	=	document-manager
add_visit_element				=	add-element
element_management				=	element-manager
workcat_end						=	end-feature
Dialog							=	go2epa
epa_result_management			=	epa-result-manager
result_compare_selector			=	epa-result-selector
add_visit_psector				=	new-psector
psector_management				=	psector-manager
list_items_psector				=	psector-selector
plan_estimate_result_new		=	new-network-cost
price_result_selector			=	estimate-result-selector
Price_result_management			=	network-cost-manager
MainWindow						=	configuration
add_visit_csv					=	import-csv
