[toolbars_position]
toolbars_order = basic,om,edit,cad,epa,plan,utilities,toc

[developers]
log_sql = None  # If True: show all get_json log, if False: does not show any, if None: show python log_sql option
show_message_durations = None  # Integer or None

[system]
sslmode = disable
open_search = true

