[init.system]
log_sql_shortcut = Alt+1 #Shortcut to show logs
help_shortcut = Alt+H #Shortcut to show the help page
reset_plugin_shortcut = None #Shortcut to perform a restart of Giswater
log_level = 20 #Default log level. CRITICAL = 50, FATAL = CRITICAL, ERROR = 40, WARNING = 30, WARN = WARNING, INFO = 20, DEBUG = 10, NOTSET = 0
log_sql = None #If True then show all get_json log, if False then does not show any, anything else will use the show python log_sql option
show_message_durations = 3 #show_message_durations --> Integer or None, if none then show python duration option
user_level = 1 #initial=1, normal=2, expert=3, u can config some parameters in [user_level] section
log_limit_characters = 100 #Limit of characters to write on log file
date_format = dd/MM/yyyy #Display format of the dates allowed in the forms: dd/MM/yyyy or dd-MM-yyyy or yyyy/MM/dd or yyyy-MM-dd
import_inp_debug_mode = False #If true, activate debugMode in gw_fct_import_[epanet/swmm]_inp
reset_user_variables = False
check_backend_function = False #If true, check if function exists on database. Helpful for development environment.
max_retries = 3 #Maximum number of execution retries of a PostgreSQL function

[init.user_level]
showquestion = 1,2 #Ask the user for confirmation before taking actions
showsnapmessage = 1,2 #Show information to the user snap what to select
showselectmessage = 1,2 #Show information to the user about what to select
showadminadvanced = 3 #Manage advanced tab, fields manager tab and sample dev radio button

[init.action_shortcuts]
# basic
37 = None #GwInfoButton
142 = None #GwSelectorButton
143 = None #GwSearchButton
# om
26 = None #GwMincutButton
27 = None #GwMincutManagerButton
43 = None #GwProfileButton
56 = None #GwFlowTraceButton
57 = None #GwFlowExitButton
64 = None #GwVisitButton
65 = None #GwVisitManagerButton
84 = None #GwDateSelectorButton
# edit
01 = None #GwPointAddButton
02 = None #GwArcAddButton
16 = None #GwArcDivideButton
17 = None #GwArcFusionButton
20 = None #GwConnectLinkButton
28 = None #GwNodeTypeChangeButton
33 = None #GwElementButton
34 = None #GwDocumentButton
39 = None #GwDimensioningButton
44 = None #GwFeatureReplaceButton
66 = None #GwDocumentManagerButton
67 = None #GwElementManagerButton
68 = None #GwFeatureEndButton
69 = None #GwFeatureDeleteButton
# cad
71 = None #GwAuxCircleAddButton
72 = None #GwAuxPointAddButton
# epa
23 = None #GwGo2EpaButton
25 = None #GwGo2EpaManagerButton
29 = None #GwGo2EpaSelectorButton
# plan
45 = None #GwPsectorButton
46 = None #GwPsectorManagerButton
50 = None #GwPriceManagerButton
# utilities
58 = None #GwPrintButton
59 = None #GwProjectCheckButton
83 = None #GwCSVButton
99 = None #GwConfigButton
206 = None #GwToolBoxButton
# toc
306 = None #GwAddChildLayerButton

[init.toolbars_position]
_toolbars_order = basic, om, edit, cad, epa, plan, utilities, toc

[init.cadtools]
_rb_left = None

[init.psector_rapport]
_psector_rapport_path = None
_psector_rapport_chk_composer = None
_psector_rapport_chk_csv_detail = None
_psector_rapport_chk_csv = None

[init.dialogs]
_mincut_manager_keep_open = True
_visit_manager_keep_open = True
_doc_manager_keep_open = True
_element_manager_keep_open = True
_psector_manager_keep_open = True

[session.btn_admin]
project_type = None
schema_name = None
project_name_schema = None
project_descript = None
create_schema_type = None
inp_file_path = None
project_locale = None
qgis_file_path = None

[session.dialogs_dimension]
dlg_admin_translation_width = None
dlg_admin_translation_height = None
_dlg_dialog_text_width = None
_dlg_dialog_text_height = None
_dlg_info_feature_width = None
_dlg_info_feature_height = None
_dlg_info_crossect_width = None
_dlg_info_crossect_height = None
_dlg_info_workcat_width = None
_dlg_info_workcat_height = None
_dlg_info_catalog_width = None
_dlg_info_catalog_height = None
_dlg_selector_width = None
_dlg_selector_height = None
_dlg_selector_date_width = None
_dlg_selector_date_height = None
_dlg_mincut_width = None
_dlg_mincut_height = None
_dlg_mincut_end_width = None
_dlg_mincut_end_height = None
_dlg_mincut_manager_width = None
_dlg_mincut_manager_height = None
_dlg_profile_width = None
_dlg_profile_height = None
_dlg_profile_list_width = None
_dlg_profile_list_height = None
_dlg_visit_width = None
_dlg_visit_height = None
_dlg_visit_event_width = None
_dlg_visit_event_height = None
_dlg_visit_manager_width = None
_dlg_visit_manager_height = None
_dlg_visit_gallery_width = None
_dlg_visit_gallery_height = None
_dlg_visit_gallery_zoom_width = None
_dlg_visit_gallery_zoom_height = None
_dlg_visit_document_width = None
_dlg_visit_document_height = None
_dlg_feature_replace_width = None
_dlg_feature_replace_height = None
_dlg_feature_end_width = None
_dlg_feature_end_height = None
_dlg_feature_delete_width = None
_dlg_feature_delete_height = None
_dlg_arc_fusion_width = None
_dlg_arc_fusion_height = None
_dlg_nodetype_change_width = None
_dlg_nodetype_change_height = None
_dlg_dimensioning_width = None
_dlg_dimensioning_height = None
_dlg_doc_width = None
_dlg_doc_height = None
_dlg_doc_manager_width = None
_dlg_doc_manager_height = None
_dlg_element_width = None
_dlg_element_height = None
_dlg_element_manager_width = None
_dlg_element_manager_height = None
_dlg_auxcircle_width = None
_dlg_auxcircle_height = None
_dlg_auxpoint_width = None
_dlg_auxpoint_height = None
_dlg_go2epa_width = None
_dlg_go2epa_height = None
_dlg_go2epa_options_width = None
_dlg_go2epa_options_height = None
_dlg_go2epa_manager_width = None
_dlg_go2epa_manager_height = None
_dlg_plan_psector_width = None
_dlg_plan_psector_height = None
_dlg_psector_manager_width = None
_dlg_psector_manager_height = None
_dlg_psector_duplicate_width = None
_dlg_psector_duplicate_height = None
_dlg_psector_rapport_width = None
_dlg_psector_rapport_height = None
_dlg_multirow_selector_width = None
_dlg_multirow_selector_height = None
_dlg_price_manager_width = None
_dlg_price_manager_height = None
_dlg_toolbox_manager_width = None
_dlg_toolbox_manager_height = None
_dlg_config_width = None
_dlg_config_height = None
_dlg_csv2pg_width = None
_dlg_csv2pg_height = None
_dlg_fastprint_width = None
_dlg_fastprint_height = None
_dlg_project_check_width = None
_dlg_project_check_height = None
_dlg_info_generic_width = None
_dlg_info_generic_height = None
_dlg_mincut_connec_width = None
_dlg_mincut_connec_height = None
_dlg_mincut_composer_width = None
_dlg_mincut_composer_height = None
_dlg_load_menu_width = None
_dlg_load_menu_height = None
_dlg_visit_event_full_width = None
_dlg_visit_event_full_height = None
_dlg_search_workcat_width = None
_dlg_search_workcat_height = None
dlg_admin_ui_width = None
dlg_admin_ui_height = None
dlg_admin_renameproj_width = None
dlg_admin_renameproj_height = None
dlg_admin_dbproject_width = None
dlg_admin_dbproject_height = None
dlg_admin_gisproject_width = None
dlg_admin_gisproject_height = None
dlg_admin_projectinfo_width = None
dlg_admin_projectinfo_height = None
dlg_admin_sysfields_width = None
dlg_admin_sysfields_height = None
dlg_admin_addfields_width = None
dlg_admin_addfields_height = None
dlg_admin_importinp_width = None
dlg_admin_importinp_height = None
dlg_info_feature_width = None
dlg_info_feature_height = None
dlg_config_width = None
dlg_config_height = None
_dlg_feature_end_connec_width = None
_dlg_feature_end_connec_height = None
_dlg_hydrology_selector_width = None
_dlg_hydrology_selector_height = None
dlg_admin_credentials_width = None
dlg_admin_credentials_height = None
_dlg_toolbox_reports_width = None
_dlg_toolbox_reports_height = None

[session.dialogs_position]
dlg_admin_translation_x = None
dlg_admin_translation_y = None
_dlg_dialog_text_x = None
_dlg_dialog_text_y = None
_dlg_info_feature_x = None
_dlg_info_feature_y = None
_dlg_info_crossect_x = None
_dlg_info_crossect_y = None
_dlg_info_workcat_x = None
_dlg_info_workcat_y = None
_dlg_info_catalog_x = None
_dlg_info_catalog_y = None
_dlg_selector_x = None
_dlg_selector_y = None
_dlg_selector_date_x = None
_dlg_selector_date_y = None
_dlg_mincut_x = None
_dlg_mincut_y = None
_dlg_mincut_end_x = None
_dlg_mincut_end_y = None
_dlg_mincut_manager_x = None
_dlg_mincut_manager_y = None
_dlg_profile_x = None
_dlg_profile_y = None
_dlg_profile_list_x = None
_dlg_profile_list_y = None
_dlg_visit_x = None
_dlg_visit_y = None
_dlg_visit_event_x = None
_dlg_visit_event_y = None
_dlg_visit_manager_x = None
_dlg_visit_manager_y = None
_dlg_visit_gallery_x = None
_dlg_visit_gallery_y = None
_dlg_visit_gallery_zoom_x = None
_dlg_visit_gallery_zoom_y = None
_dlg_visit_document_x = None
_dlg_visit_document_y = None
_dlg_feature_replace_x = None
_dlg_feature_replace_y = None
_dlg_feature_end_x = None
_dlg_feature_end_y = None
_dlg_feature_delete_x = None
_dlg_feature_delete_y = None
_dlg_arc_fusion_x = None
_dlg_arc_fusion_y = None
_dlg_nodetype_change_x = None
_dlg_nodetype_change_y = None
_dlg_dimensioning_x = None
_dlg_dimensioning_y = None
_dlg_doc_x = None
_dlg_doc_y = None
_dlg_doc_manager_x = None
_dlg_doc_manager_y = None
_dlg_element_x = None
_dlg_element_y = None
_dlg_element_manager_x = None
_dlg_element_manager_y = None
_dlg_auxcircle_x = None
_dlg_auxcircle_y = None
_dlg_auxpoint_x = None
_dlg_auxpoint_y = None
_dlg_go2epa_x = None
_dlg_go2epa_y = None
_dlg_go2epa_options_x = None
_dlg_go2epa_options_y = None
_dlg_go2epa_manager_x = None
_dlg_go2epa_manager_y = None
_dlg_plan_psector_x = None
_dlg_plan_psector_y = None
_dlg_psector_manager_x = None
_dlg_psector_manager_y = None
_dlg_psector_duplicate_x = None
_dlg_psector_duplicate_y = None
_dlg_psector_rapport_x = None
_dlg_psector_rapport_y = None
_dlg_multirow_selector_x = None
_dlg_multirow_selector_y = None
_dlg_price_manager_x = None
_dlg_price_manager_y = None
_dlg_toolbox_manager_x = None
_dlg_toolbox_manager_y = None
_dlg_config_x = None
_dlg_config_y = None
_dlg_csv2pg_x = None
_dlg_csv2pg_y = None
_dlg_fastprint_x = None
_dlg_fastprint_y = None
_dlg_project_check_x = None
_dlg_project_check_y = None
_dlg_info_generic_x = None
_dlg_info_generic_y = None
_dlg_mincut_connec_x = None
_dlg_mincut_connec_y = None
_dlg_mincut_composer_x = None
_dlg_mincut_composer_y = None
_dlg_load_menu_x = None
_dlg_load_menu_y = None
_dlg_visit_event_full_x = None
_dlg_visit_event_full_y = None
_dlg_search_workcat_x = None
_dlg_search_workcat_y = None
dlg_admin_ui_x = None
dlg_admin_ui_y = None
dlg_admin_renameproj_x = None
dlg_admin_renameproj_y = None
dlg_admin_dbproject_x = None
dlg_admin_dbproject_y = None
dlg_admin_gisproject_x = None
dlg_admin_gisproject_y = None
dlg_admin_projectinfo_x = None
dlg_admin_projectinfo_y = None
dlg_admin_sysfields_x = None
dlg_admin_sysfields_y = None
dlg_admin_addfields_x = None
dlg_admin_addfields_y = None
dlg_admin_importinp_x = None
dlg_admin_importinp_y = None
dlg_info_feature_x = None
dlg_info_feature_y = None
dlg_config_x = None
dlg_config_y = None
_dlg_feature_end_connec_x = None
_dlg_feature_end_connec_y = None
_dlg_hydrology_selector_x = None
_dlg_hydrology_selector_y = None
dlg_admin_credentials_x = None
dlg_admin_credentials_y = None
_dlg_toolbox_reports_x = None
_dlg_toolbox_reports_y = None

[session.dialogs_tab]
_dlg_selector_basic = None
_dlg_selector_mincut = None

[session.btn_search]
_open_search = false
_search_csv_path = None

[session.psector_rapport]
_psector_rapport_path = None
_psector_rapport_chk_composer = None
_psector_rapport_chk_csv_detail = None
_psector_rapport_chk_csv = None

[session.btn_go2epa]
_go2epa_result_name = None
_go2epa_file_inp = None
_go2epa_file_rpt = None
_go2epa_chk_network_geom = None
_go2epa_chk_inp = None
_go2epa_chk_ud = None
_go2epa_chk_epa = None
_go2epa_chk_rpt = None

[session.btn_profile]
_min_distance_profile = None
_title_profile = None

[session.btn_csv2pg]
_cmb_import_type = None
_txt_import = None
_txt_file_csv = None
_cmb_unicode_list = None
_rb_semicolon = None

[session.btn_toolbox]
_gw_fct_grafanalytics_check_data_cmb_feature_type = None
_gw_fct_grafanalytics_check_data_cmb_layers = None
_gw_fct_grafanalytics_check_data_rbt_previous = None
_gw_fct_om_check_data_cmb_feature_type = None
_gw_fct_om_check_data_cmb_layers = None
_gw_fct_om_check_data_rbt_previous = None
_gw_fct_grafanalytics_flowtrace_cmb_feature_type = None
_gw_fct_grafanalytics_flowtrace_cmb_layers = None
_gw_fct_grafanalytics_flowtrace_rbt_previous = None
_gw_fct_grafanalytics_flowtrace_nodeid = None
_gw_fct_user_check_data_cmb_feature_type = None
_gw_fct_user_check_data_cmb_layers = None
_gw_fct_user_check_data_rbt_previous = None
_gw_fct_arc_repair_cmb_feature_type = None
_gw_fct_arc_repair_cmb_layers = None
_gw_fct_arc_repair_rbt_previous = None
_gw_fct_anl_arc_same_startend_cmb_feature_type = None
_gw_fct_anl_arc_same_startend_cmb_layers = None
_gw_fct_anl_arc_same_startend_rbt_previous = None
_gw_fct_anl_arc_no_startend_node_cmb_feature_type = None
_gw_fct_anl_arc_no_startend_node_cmb_layers = None
_gw_fct_anl_arc_no_startend_node_rbt_previous = None
_gw_fct_anl_arc_no_startend_node_arcsearchnodes = None
_gw_fct_anl_connec_duplicated_cmb_feature_type = None
_gw_fct_anl_connec_duplicated_cmb_layers = None
_gw_fct_anl_connec_duplicated_rbt_previous = None
_gw_fct_anl_connec_duplicated_qt_spinbox_lineedit = None
_gw_fct_anl_node_topological_consistency_cmb_feature_type = None
_gw_fct_anl_node_topological_consistency_cmb_layers = None
_gw_fct_anl_node_topological_consistency_rbt_previous = None
_gw_fct_anl_node_duplicated_cmb_feature_type = None
_gw_fct_anl_node_duplicated_cmb_layers = None
_gw_fct_anl_node_duplicated_rbt_previous = None
_gw_fct_anl_node_duplicated_qt_spinbox_lineedit = None
_gw_fct_anl_node_orphan_cmb_feature_type = None
_gw_fct_anl_node_orphan_cmb_layers = None
_gw_fct_anl_node_orphan_rbt_previous = None
_gw_fct_anl_node_orphan_isarcdivide = None
_gw_fct_pg2epa_check_data_cmb_feature_type = None
_gw_fct_pg2epa_check_data_cmb_layers = None
_gw_fct_pg2epa_check_data_rbt_previous = None
_gw_fct_pg2epa_check_result_cmb_feature_type = None
_gw_fct_pg2epa_check_result_cmb_layers = None
_gw_fct_pg2epa_check_result_rbt_previous = None
_gw_fct_pg2epa_check_result_resultid = None
_gw_fct_pg2epa_check_network_cmb_feature_type = None
_gw_fct_pg2epa_check_network_cmb_layers = None
_gw_fct_pg2epa_check_network_rbt_previous = None
_gw_fct_pg2epa_check_network_resultid = None
_gw_fct_plan_check_data_cmb_feature_type = None
_gw_fct_plan_check_data_cmb_layers = None
_gw_fct_plan_check_data_rbt_previous = None
_gw_fct_grafanalytics_mapzones_config_cmb_feature_type = None
_gw_fct_grafanalytics_mapzones_config_cmb_layers = None
_gw_fct_grafanalytics_mapzones_config_rbt_previous = None
_gw_fct_grafanalytics_mapzones_config_mapzonefield = None
_gw_fct_grafanalytics_mapzones_advanced_cmb_feature_type = None
_gw_fct_grafanalytics_mapzones_advanced_cmb_layers = None
_gw_fct_grafanalytics_mapzones_advanced_rbt_previous = None
_gw_fct_grafanalytics_mapzones_advanced_forceopen = None
_gw_fct_grafanalytics_mapzones_advanced_forceclose = None
_gw_fct_grafanalytics_mapzones_advanced_geomparamupdate = None
_gw_fct_grafanalytics_mincutzones_cmb_feature_type = None
_gw_fct_grafanalytics_mincutzones_cmb_layers = None
_gw_fct_grafanalytics_mincutzones_rbt_previous = None
_gw_fct_grafanalytics_mincutzones_exploitation = None
_gw_fct_grafanalytics_minsector_cmb_feature_type = None
_gw_fct_grafanalytics_minsector_cmb_layers = None
_gw_fct_grafanalytics_minsector_rbt_previous = None
_gw_fct_grafanalytics_minsector_exploitation = None
_gw_fct_grafanalytics_minsector_usepsectors = None
_gw_fct_grafanalytics_minsector_updatefeature = None
_gw_fct_grafanalytics_minsector_geomparamupdate = None
_gw_fct_plan_result_rec_cmb_feature_type = None
_gw_fct_plan_result_rec_cmb_layers = None
_gw_fct_plan_result_rec_rbt_previous = None
_gw_fct_plan_result_rec_resultname = None
_gw_fct_plan_result_rec_coefficient = None
_gw_fct_plan_result_rec_descript = None
_gw_fct_setnodefromarc_cmb_feature_type = None
_gw_fct_setnodefromarc_cmb_layers = None
_gw_fct_setnodefromarc_rbt_previous = None
_gw_fct_setnodefromarc_insertintonode = None
_gw_fct_setnodefromarc_qt_spinbox_lineedit = None
_gw_fct_admin_check_data_cmb_feature_type = None
_gw_fct_admin_check_data_cmb_layers = None
_gw_fct_admin_check_data_rbt_previous = None
_gw_fct_import_epanet_inp_cmb_feature_type = None
_gw_fct_import_epanet_inp_cmb_layers = None
_gw_fct_import_epanet_inp_rbt_previous = None
_gw_fct_import_epanet_inp_usenode2arc = None
_gw_fct_admin_role_resetuserprofile_cmb_feature_type = None
_gw_fct_admin_role_resetuserprofile_cmb_layers = None
_gw_fct_admin_role_resetuserprofile_rbt_previous = None
_gw_fct_admin_role_resetuserprofile_user = None
_gw_fct_admin_role_resetuserprofile_fromuser = None
_gw_fct_grafanalytics_mapzones_advanced_grafclass = None
_gw_fct_grafanalytics_mapzones_advanced_exploitation = None
_gw_fct_grafanalytics_mapzones_advanced_updatemapzone = None
_gw_fct_grafanalytics_mapzones_advanced_floodfromnode = None
_gw_fct_grafanalytics_mapzones_advanced_forceclosed = None
_gw_fct_grafanalytics_mapzones_advanced_useplanpsector = None
_gw_fct_anl_node_sink_cmb_feature_type = None
_gw_fct_anl_node_sink_cmb_layers = None
_gw_fct_anl_node_sink_rbt_previous = None
_gw_fct_setarcreverse_cmb_feature_type = None
_gw_fct_setarcreverse_cmb_layers = None
_gw_fct_setarcreverse_rbt_previous = None
_gw_fct_grafanalytics_check_data_grafclass = None
_gw_fct_grafanalytics_check_data_selectionmode = None
_gw_fct_om_check_data_selectionmode = None
_gw_fct_grafanalytics_flowtrace_grafclass = None
_gw_fct_user_check_data_checktype = None
_gw_fct_anl_arc_intersection_cmb_feature_type = None
_gw_fct_anl_arc_intersection_cmb_layers = None
_gw_fct_anl_arc_intersection_rbt_previous = None
_gw_fct_anl_arc_inverted_cmb_feature_type = None
_gw_fct_anl_arc_inverted_cmb_layers = None
_gw_fct_anl_arc_inverted_rbt_previous = None
_gw_fct_plan_result_rec_step = None

[session.docker]
_position = None
position = None

[session.cadtools]
_rb_left = None

[init.qgis_toolbar_hidebuttons]
_buttons_to_hide = None

[session.visit]
_om_visit_table_name = None

[session.btn_csv]
_chk_read_header = None

