; EPA MULTI CALLS
; Configuration file

[options]
max_threads=4
export_subcatch=False

#UD
#--------------------------------------
[list1]
query1=UPDATE raingage SET timser_id = '$list1object'
list1=5mm, 10mm, 20mm, T2

[list2]
query1= "DELETE FROM selector_inp_dscenario WHERE cur_user=current_user; INSERT INTO selector_inp_dscenario SELECT unnest('{$list2object}'::integer[]), current_user";
list1="", "31,32,33", "41,42,43,44", "51,52", "61", "71,72,73,74,75,76"

[list3]
query1=UPDATE v_edit_inp_dscenario_lids SET numelem = $list3object
list1=1


#WS
#--------------------------------------
#[list1]
#query1=UPDATE inp_junction SET demand = '$list1object'
#list1=0, 0.01, 0.1, 1, 0
#
#[list2]
#query1= "UPDATE node SET obse FROM selector_inp_dscenario WHERE cur_user=current_user; INSERT INTO selector_inp_dscenario SELECT unnest('{$list2object}'::integer[]), current_user";
#list1="31,32,33", "41,42,43,44", "51,52", "61", "71,72,73"
#
#[list3]
#query1=UPDATE v_edit_inp_dscenario_lids SET numelem = $list3object
#list1=1,2


